{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
     {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> {% endcomment %}

     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body >  
    <p class="mb-0"> User : {{ user }}  <a href={% url 'home' %}><button class="btn btn-primary"  role="button" >BACK</button></a> </p><br>
    <center> <h4>CART</h4> </center>
<div class="container mb-5 mt-5">
    <div class="row">
           {% for item in items %}
        <div class="col-md-4">
            <div class="card mt-3">
                <div class="product-1 align-items-center p-2 text-center">
                    <img src='./{{item.img}}' height="200" width="200" >
                    <h5>{{item.item}}</h5>
                    <div class="mt-3 info"> {{item.disc}} </div>
                    <div class=" cost mt-3 text-dark"> 
                         <span>RS {{item.price}}</span> <br>
                         <button type="button" class="btn" id='{{item.id}}btn+' value=0 onclick="updater({{item.id}}, '+')" >+</button><span id='{{item.id}}count'>0</span> <button type="button" class="btn" id='{{item.id}}btn-' value=minus onclick="updater({{item.id}}, '-')">-</button> <br>
                         <span id="{{item.id}}totel"></span> <br>
                         <span id='{{item.id}}msg'>  </span>
                    </div>
                    <form action="remove_cart" method="post">
                    {%csrf_token%}
                      {% comment %} <input id="{{item.id}}csrf" value={{ csrf_token }} hidden> {% endcomment %}
                </div>
                  <button type="submit" class="p-3 bg-danger text-center text-white mt-3 cursor btn" value="{{item.item}}" name='remove' id={{item.id}}>REMOVE</button>
                  </form>
                {% comment %} <div class="p-3 bg-danger text-center text-white mt-3 cursor">  </div> {% endcomment %}
            </div>
        </div>
          {% endfor %}
    </div>
</div>

<center>
    <span id="subtotel"></span> <br><br>

    <form action="" method="post">
                    {%csrf_token%}

      {% comment %} <input id="csrf" value={{ csrf_token }} hidden> {% endcomment %}
        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="inputEmail4">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="name" required>
          </div>
          <div class="form-group col-md-2">
            <label for="inputPassword4">Phone Number</label>
            <input type="text" class="form-control" id="number" name="number" placeholder="Phone Number" required>
          </div>
          <div class="form-group col-md-2">
            <label for="inputPassword4">Email</label>
            <input type="Email" class="form-control" id="email" name="email" placeholder="email" required>
          </div>
        <div class="form-group col-md-3">
          <label for="inputAddress">Address</label>
          <input type="text" class="form-control" id="address" placeholder="Address" name="address" required>
        </div>
        <div class="form-group col-md-3">
          <label for="inputAddress2">Address 2</label>
          <input type="text" class="form-control" id="address2" placeholder="Address2" name="address2" required>
        </div>
        <div class="form-row">
          <div class="form-group col-md-1">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="city" name="city" required>
          </div>
          <div class="form-group col-md-1">
            <label for="inputCity">State</label>
            <input type="text" class="form-control" id="state" name="state" required>
          </div>
          
          <div class="form-group col-md-1">
            <label for="inputZip">PIN</label>
            <input type="text" class="form-control" id="pin" name="pin" required>
          </div>

        <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="payment" id="cod" value="cod">
        <label class="form-check-label" for="exampleRadios1">
        COD
        </label>
        </div>
        
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="payment" id="online" value="online">
        <label class="form-check-label" for="exampleRadios2">
        Online Payment
        </label>
        </div>
<br>

        <div id="paypal-button-container"> </div>
        <!-- Include the PayPal JavaScript SDK -->
        <script src="https://www.paypal.com/sdk/js?client-id=AU5HwB0x1tv3KQsJVYrnNs1or7j04VIC2H8alzx8UjBh-OFWdKv-GoravVDE5ID67g5lRuDj0eKCcoxl&currency=USD"></script>
        

    
        <input type="button" id='btn' class="btn btn-primary" onclick="check()" value="Place Order">  <br> 
        <span id='msg'></span>
        </div>
        </div>
        </div>
      </form>

</center>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="{% static 'cart.js' %}" ></script>

</body>
</html>