<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
             <h2 class="fw-bold mb-2 text-uppercase">Users Table</h2> <br>
            <p class="mb-0"> User : {{ admin }}  <a class="btn btn-primary" href={% url 'admin_logout' %} role="button">Logout</a></p>  
            
             <br>
<table class="table">

<a class="btn btn-primary" href={% url 'user_data' %} role="button">User Data</a> <br> <br>
<a class="btn btn-primary" href={% url 'add_item' %} role="button">ADD ITEM</a> <br>
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Item</th>
      <th scope="col">Price</th>
      <th scope="col">Discription</th>
      <th scope="col"> &nbsp; </th>
    </tr>
  </thead>

  <tbody>
{% for element in data%}
    <tr>
      <th scope="row"> {{ element.id }} </th>
      <td> {{ element.item }} </td>
      <td>{{ element.price }}</td>
      <td>{{ element.disc }}</td>
      <td>
         <a class="btn btn-primary" href='user_data_update/{{element.id}}' id='{{element.id}}'>Edit</a> &nbsp;
         <a class="btn btn-primary" href='user_data_delete/{{element.id}}'>Delete</a>
      </td>
    </tr>


{% endfor %}

  </tbody>
</table>

          <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
          <script>
          </script>

</body>
</html>